
    <nav>
        <div class="navbar">
           
            <%if (currentUser){ %>
                <a href="/logout">logout</a>
           <% }else {%>
            <a href="/login">Sign-in</a>
            <a href="/register">Signup</a>
            <% } %>
        </div>
    </nav>