<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HERE IS YOUR HOME BLOG</h1>
    
    <% for (let blog of blogs){ %>
        <a href="/blog/<%=blog._id%>/">
            <li><%= blog.title %></li>
            <p><%=blog.body %></p>
            <span><%=blog.author %></span>
        </a>
       
    <% } %>


    <a href="/newBlog">create new post</a>
    
</body>
</html>