*{
    font-family: 'Montserrat', 'Open sans';
    padding: 0em;
    margin:0em;
}

/* body {
    overflow: hidden; 
} */

#home{
    overflow: hidden; 
    height: 100vh;
    /* font-family: 'Montserrat', 'Open sans'; */
    background-image: linear-gradient(
        to bottom,
        rgba(22, 22, 21, 0.9),
        rgba(16, 16, 17, 0.9)),url("https://media.istockphoto.com/id/1477858506/photo/news-online-in-phone-reading-newspaper-from-website-digital-publication-and-magazine-mockup.jpg?s=612x612&w=0&k=20&c=yIC_VaGiYom9KRA4opOHXxGftxAafF1QVJrjXUG1q_s=");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
/* navbar------------------------------------------- */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1em 5em;
   background-color: #023047;
   top: 0em;
   position: sticky;
   max-width: 100vw;
}

nav .left-pan h1 {
   font-size: 1rem;
   margin: 0em;
   color: #dee2e6;
   cursor: pointer;
}

nav .right-pan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .right-pan ul {
   padding-right: 1.5em;
   margin: 0em;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav .right-pan ul li{
    list-style: none;
    color: black;
    padding-right: 1.5em;
}

nav .right-pan a{
    text-decoration: none;
    color: #dee2e6;
    transition:  all 1s ease-in-out;
}

nav .right-pan a:hover{
   border-bottom: 0.1em #dee2e6 solid;
}

nav .right-pan .navbar {
   border-left: 0.1em solid #dee2e6;
   padding: 0em 0.6em;
}

nav .navbar span{
    display: inline-block;
    padding: 0em 1em;
    color: #dee2e6;
}


/* body ---------------------------------------*/
.home {
    margin: 0 auto;
    width: 50em;
    height: 10em;
    text-align: center;
    padding-top: 20em;
}

.home h2{
    font-size: 2rem;
    font-family: Montserrat;
    color: #dee2e6;
    letter-spacing: 0.3em;
    margin: 0em;
    padding-bottom: 0.8em;
}

.home a{
    text-align: center;
    text-decoration: none;
    padding: 0.5em 2em;
    font-size: 1.2rem;
    border-radius: 0.3em;
    border: none;
    color: #dee2e6;
    background-color: #023047;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.8s ease-in-out;
}

.home a:hover{
    background-color: #dee2e6;
    color: #023047;
    font-weight: bolder;
}

/* index page */

.main .blog{
    margin: 0 auto;
    width: 60%;
    padding: 1em;
}

.main .blog .details {
   margin: 2.2em 0em;
   border-left: 0.1em solid #023047;
   padding: 0.8em 1em;
   /* box-shadow: 0.1em 0.1em 0.1em 0.1em #dee2e6; */
}

.main .blog .details a {
 text-decoration: none;
 color: #000;
}

.main .blog .details a h1{
    font-size: 1.2rem;
    font-weight: bold;
    color: #023047;
    text-shadow: 1px 1px #dee2e6;
}

.main .blog .details a h1:hover{
    text-decoration: underline;
}

.main .blog .details a P{
    text-align: justify;
    line-height: 1.5em;
    font-weight: bold;
    font-size: 1rem;
}

.button{
    text-decoration: none;
    padding: 0.4em 2em;
    font-size: 1rem;
    border-radius: 0.3em;
    border: none;
    color: #dee2e6;
    background-color: #023047;
    cursor: pointer;
    font-weight: bold;
    margin: 3em 0em;
    width: 100%;
    letter-spacing: 0.1em;
    transition: all 0.5s;
}

.button:hover{
    color: #023047;
    background-color: #dee2e6;
}

.login{
    width: 100vh;
    height: 80vh;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    /* padding: 1em; */
    flex-direction: row-reverse;
}

.login-form{
    /* border: 0.1em red solid; */
    height: 90%;
    flex-basis: 50%;
    padding: 8em 1.5em 0em 1.5em;
    box-sizing: border-box;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 48, 71, 0.9),
        rgba(222, 226, 230, 0.9)),url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    color: #dee2e6;
    border-radius: 0.7em;
    flex-grow: 1;
}

form label{
    display: block;
    font-size: 0.8rem;
    color:#dee2e6;
    font-weight: bold;
    padding-bottom: 0.3em;
    letter-spacing: 0.1em;
}

input[type=text],[type=password], [type=email], [type=file] {
    width: 100%;
    height: 2.3em;
    margin-bottom: 1.5em;
    background:transparent;
    border: 0.1em solid #dee2e6;
    border-radius: 0.3em;
    font-weight: bold;
    box-sizing: border-box;
    color: #dee2e6;
    padding: 0.3em;
    outline: none;

}


.login .design{
    height: 90%;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 0.7em;
    background-image:  linear-gradient(360deg, #dee2e6, #023047);
    flex-grow: 1;
}

.login h1{
   color: #023047;
   font-size: 2rem;
   text-align: center;
  padding-top: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px #dee2e6;
}

.login q{
    color: #dee2e6;
    font-size: 1rem;
    text-align: center;
    padding: 1em 3em;
    font-weight: bolder;
    line-height: 1.3em;
    text-shadow: 1px 1px #023047;
    display: block;
 }

.register{
    margin: 2em auto;
    max-width: 50vw;
    height: 70vh;
}

.register form{
    width: 50%;
    margin: 4em auto;
    height: 95%;
    border-radius: 0.7em;
    padding: 2em 1em 1em;
    box-sizing: border-box;
    background-image:  linear-gradient(360deg, #dee2e6, #023047);
}

.new{
    height: 80vh;
    width: 50vw;
    margin: 2em auto 1em;
    box-sizing: border-box;
    /* border: 0.5em solid #023047 ; */
}

.new form{
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 48, 71, 0.9),
        rgba(222, 226, 230, 0.9)),url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    color: #dee2e6;
    border-radius: 0.7em;
    margin: 4em auto 1em;
    padding: 3em 2em 1em;
    border-bottom: 0.5em solid #023047 ;
}

.new form textarea{
    width: 100%;
    margin-bottom: 1.5em;
    background:transparent;
    border: 0.1em solid #dee2e6;
    border-radius: 0.3em;
    font-weight: bold;
    box-sizing: border-box;
    color: #dee2e6;
    padding: 0.3em;
    outline: none;
}

.new input[type="file"]{
    display: none;
}

.new .img {
    border: 1px solid #dee2e6;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.new .img:hover {
    background-color: #023047;
    color: #dee2e6;
}

.show{
    width: 70%;
    margin: 1em auto 0em;
}

.show h1{
    font-size: 1.3rem;
    color: #023047;
    font-weight: bold;
}

.show img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding: 1em 0em;
}

.show p{
    font-size: 1rem;
    color: #000;
    font-weight: bold;
    line-height: 1.8rem;
    text-align: justify;
    /* padding-bottom: 1em; */
}

.show span{
  display: block;
  padding: 1em 0em;
}

.show .links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 11em;
    box-sizing: border-box;
    padding: 1em 0em 1em;
}

.show button, a{
    display: inline;
    background-color: #023047;
    padding: 1em 2em;
    color: #dee2e6;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 0.5em;
    border: none;
}

.show a{
    height: 3.4em;
    display: inline-block;
    margin-right: 0.5em;
}

.hover{
    transition: all 0.5s;
}

.hover:hover{
   background-color: #dee2e6;
   color: #023047;

}

