<% layout( './layouts/boilerplate' ) %>
    <p><%=error %></p>
   
    <div class="register">

        <form action="/register" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
    
            <label for="username">username</label>
            <input type="text" name="username" id="username" required>
    
            <label for="password">password</label>
            <input type="password" name="password" id="password" required>
    
            <button>Register</button>
        </form>

    </div>
    
